.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.All {
  cursor: pointer;
}

.all:focus {
  color: black;
}

.Active {
  cursor: pointer;
}

.completed {
  cursor: pointer;
}

.container-input {
  padding-top: 15px;
  display: flex;
  gap: 15px;
}
